{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block body %}
<div class="container">
    <h1>Adding Article </h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form=control" placeholder="Enter value"><br>
        <textarea name="intro" id="intro" class="form=control" placeholder="Enter announce"></textarea><br>
        <textarea name="text" id="text" class="form=control" placeholder="Enter main text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send"><br>
    </form>
</div>
{% endblock %}